@import './colors';

.loginModal {

  width: 400px;
  left: 50%;
  margin-top: 50px;
  margin-left: -200px;


  .modal-content {
    width: 350px;
    text-align: center
  }

  .btn-primary {
    background-color: $accent;
    border-color: $accent-dark;
  }

  .icon .fa {
    margin-right: 0.5em;
    font-size: 1.5em;
    vertical-align: middle;
  }

  .input {
  }
}