@import './../../node_modules/font-awesome/css/font-awesome.min.css';
@import './../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'colors'; 

.fa {
  color: $heart-red;
}

body {
  background-color: $white;
}

.jumbotron {
  background-color: transparent;
  h1 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
  }
}

.nav {
  ul {
    margin: 8px;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    font-size: 1.2em;
    color: $heart-red;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    
    &.link-active {
        font-weight: bold;
    }
  }
}