@import './../../node_modules/font-awesome/css/font-awesome.min.css';
@import './../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'colors';

.fa {
  color: $accent;
}

body {
  background-color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: transparent;
  h1 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
  }
}